<br>


 <%= link_to "カートを空にする", public_destroy_all_path, method: :delete, "data-confirm" => "本当にカートを空にされますか？" %>
<table border >
	<thead>
		<tr>
			<th>商品名</th>
			<th>単価(税込)</th>
			<th>数量</th>
			<th>小計</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @cart_item_amounts = 0 %>
		<% @sum = 0 %>
		<% @cart_items.each do |cart_item| %>
		<tr>
			<td><%= attachment_image_tag cart_item.item, :image, :fill, 60, 60, fallback: "no_image.png", size: "100x100" %> <%= cart_item.item.name %></td>
			<td><%= cart_item.item.untax_price*108/100 %></td>
			<td>
				<%= form_for(cart_item, url: public_cart_item_path(cart_item.id)) do |f| %>
   　　　　　　　 　　<%= f.number_field :amount %>
    　　　　　　　　　<%= f.submit "変更" %>
  　　　　　　　　<% end %>
 　　　　　　　</td>
			<td><%= cart_item.item.untax_price*108/100*cart_item.amount %></td>
			<td><%= link_to "削除する",  public_cart_item_path(cart_item.id), method: :delete %></td>
			<% @sum += cart_item.item.untax_price*108/100*cart_item.amount %>
			<% @cart_item_amounts += cart_item.amount %>
		</tr>
		<% end %>
	</tbody>
</table>
<%= @sum %>円

 
	






<%= link_to "買い物を続ける", root_path %>
<%= link_to "情報入力に進む", new_public_order_path(sum_price: @sum, cart_item_amounts: @cart_item_amounts) %>